@import "tailwindcss";

@theme {
  --color-brand-off-white: #F6F4EB;
  --color-brand-navy: #0A1C33;
  --color-brand-mauve: #A67D76;
  --color-brand-rose: #BC8E83;
  --color-brand-sky: #C5E0F2;
  --color-brand-pink: #FAD1CB;
  --color-brand-charcoal: #2F3E4D;
  --color-brand-espresso: #3B2A1E;

  --color-background: var(--color-brand-off-white);
  --color-foreground: var(--color-brand-navy);

  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-body), sans-serif;
}
